/* nav svg {
    width: 33.2px;
    height: 33.2px;
    transition: all ease-in-out;
  
} */

/* nav svg:focus, nav svg:active, nav svg:hover {
    background-color : #FFFFFF;
    border-radius: 8px;
 stroke: #115E56;
 stroke-width: 2px;
      fill: none;
    
} */

